---
// Wrapper for the list of references at the bottom of a note.
// Children are <Reference n={1}>...</Reference> elements.
---
<section class="references">
  <h2>References</h2>
  <ol><slot /></ol>
</section>
